
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.3s ease;
  }


.services-bg{
    background-color: rgb(22, 22, 22);
}
.Services{
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(245 245 245);
}
.Services span{
    background: -webkit-linear-gradient(rgb(233,173,3),rgb(245,245,245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card_services{
    position: relative;
    margin-top: 20px;
   align-items: center;
   background-color: rgb(22 22 22);
   border: none;
   box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: transform .3s;

}
.card_services .product{
    color: rgb(245 245 245);
    font-weight: 500;
}
.card_services img{
    transition: transform .3s;
}
.change {
    display: none;
    position: absolute;
    top: 20%;
    left: 10%;
 
  }
  .card_services:hover {
    transform: scale(1.1);
  }

.card_services:hover .circle img {
    transform: scale(3.1);
    margin-top: 50px;
    opacity: 0.2;
  }

  .card_services:hover .circle .change{
    display: block;
    color: rgb(245 245 245);
  }


 
  
@media only screen and (max-width: 1125px) {
    .Services{
        font-size: 50px;
    }
   
  }


  @media only screen and (max-width: 750px) {
    .Services{
        margin-left: 0px;
        font-size: 30px;
    }
    .card_services:hover .circle img {
        transform: scale(2.1);
        margin-top: 50px;
        opacity: 0.2;
      }
   
  }
 
  @media only screen and (max-width: 500px) {
    .Services{
        font-size: 20px;
        margin-left: 10px;
    }
    .card_services{
        margin-top: 20px;
        align-items: center;
        background-color: transparent;
        border: none;
         height: 150px;
         width: 150px;
         display: flex;
         flex-direction: column;
         justify-content: center;
     
     }
     .card_services p{
        color: rgb(245 245 245);
        font-weight: 500;
        font-size: 12px;
    }
    .card_services img:hover + .change {
        display: block;
        font-size: 10px;
        }
        .card_services:hover .circle p{
            display: block;
            font-size: 10px;
          }
  }
  @media only screen and (max-width: 350px) {
    .Services{
        font-size: 20px;
    }

  
  }


