@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.whyCooseBackground{
    background-color: rgb(25,25,25);
}
.whyTitle{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
}

.chooseLetter{
    background: -webkit-linear-gradient(rgb(233,173,3),rgb(245,245,245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whyHeading{
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.chooseSubHeading{
    color: white;
    font-size: 18px;
    line-height: 1.6;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


@media (max-width: 1950px) {
    .faqBackground {
        padding: 40px 0;
    }

    .whyTitle {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .faqBackground {
        padding: 30px 0;
    }

    .whyTitle {
        font-size: 28px;
    }

}

@media (max-width: 576px) {
    .whyTitle {
        font-size: 24px;
    }

}